/*=======Css=======*/



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

/*=======CALCULADORA=======*/
.calculadora{

    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 10px;
    color: rgb(255, 0, 0);

}

.botao{

    border-radius: 20px;
    color: black;
    width:70px;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
   
}

/*=======CÁLCULOS=======*/


#resultados1{

    background-color: black;
    color: white;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-bottom: -1px;
    font-size: 25px;
    text-align: right;
    
}

#resultados2{

    background-color: black;
    width: 300px;
    height: 30px;
    margin: 5px;
    margin-top: 0;
    font-size: 20px;
    color: aqua;
    text-align: right;
    padding: 5px;

}